.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    border-radius: 30px;
}

.note {
    font-size: 15px;
    color: white;
}

body {
    background-size: cover;
}

canvas {

    background-color: cornflowerblue;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;


}

.play_button {
    font-size: large;
   margin-bottom: 30px;
      width: 117px; 
}